@import "960/text";

@include text;

// Font Sizes --------------------------------------------------------------

$base-font-size: 16px;
$base-line-height: 24px;

// Grid --------------------------------------------------------------
$ninesixty-columns: 16;

// Colors --------------------------------------------------------------

$base: #4c4c4c;
$alt: #777;

// Fonts --------------------------------------------------------------

@mixin sans-family {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@mixin serif-family {
  font-family: 'Adobe Caslon Pro', Caslon, Baskerville, Palatino, 'Palatino Linotype', "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
}

@mixin monospace-family {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

.clear {
  clear:both;
}

@mixin no-style-list {
  @include no-bullets;
  margin: 0;
  padding: 0;
}
