/* Header --------------------------------------------------------------*/
header {  
  background: #0c0c0c;
  @include linear-gradient(color-stops(#0c0c0c, #242424 50%, #2e2e2e 75%, #363636));
  color: #666;

  hgroup {
    padding-top: 20px;
    /* @include columns(12);
    @include alpha;
    @include leader(2,32px);
    @include trailer(1,32px); */
    
    h1 {
     font-size: 32px;
     color: #69D2E7;
     margin-bottom: 0;
     display: inline;
    }
    
    h4 {
      display: inline;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}
