/* Header --------------------------------------------------------------*/
#header {  
  background: #008E40;
  //@include linear-gradient(color-stops(#0c0c0c, #242424 50%, #2e2e2e 75%, #363636));
  color: #666;
  z-index: 200;
  height: 100px;
  position: relative;

  hgroup {
    @include grid(6,16);
    
    img {
      @include grid(2,16);
      @include alpha;
    }
    
    a {
      text-decoration: none;
    }
    
    h1 {
     @include grid(4,16);
     @include omega;
     
     margin-top: 30px;
     font-size: 32px;
     color: #fff;
     margin-bottom: 0;
    }
  }
  
  #navigation {
    @include grid(8,16);
    @include grid-prefix(2,16);
    @include omega;
   
    margin-top: 20px;
    
    ul {
      background-color: #fff;
      color: #008E40;
      @include no-style-list;
      @include border-radius(4px, 4px);
      text-align:center;
    }
    
    li {
      font-size: 20px;
      display: inline;
      padding: 0px 20px;
    }
  }
}


#notices {
  left: 0px;
  opacity: 0.9;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  @include no-style-list;
  
  li {
    padding: 10px;
    background-color: white;
    border-bottom: 2px solid #2388D0;
    color: #333;
    font-family: Georgia, Utopia, Palatino, 'Palatino Linotype', serif;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2em;
    text-align: center;

    &.alert {
      color: red;
    }

    
    p {
      display: inline;
      background: url("/images/ajax-loader.gif") no-repeat 0px 2px;
      padding-left: 20px;
    }
  }
}
