#History {

  .entry {
    padding: 10px;
    border-bottom: 2px solid #BABABA;
    @include grid(14,16);
    @include grid-prefix(2);
    
    .info {
      @include grid(12, 16);
      @include alpha;
    }
    
    input[type=text] { 
      border: 2px solid #C0C0C0;
      @include border-radius(4px, 4px);
      font-size: 20px;
      width: 500px;

      &#datapicker {
      width: 150px;
      }

      &#quantities {
        width: 40px;
        text-align: center;
      }

    }

    .actions {
      @include grid(2, 16);
      @include omega;
      margin-top: 20px;
    }
    
    a {
      text-decoration: none;
      color: #008E40;
    }
    
    h6 {
      color: #008E40;
      font-weight: bold;
      font-size: 34px;
      margin-bottom: 0;
    }
    
    p {
      font-size: 18px;
      margin-bottom: 2px;
    }
    
    .created_at {
      color: #7F7F7F;
    }
  }
}
