#main
  %h1 Editing Entry

  = render 'form'

  = link_to 'Show', @f
  \|
  = link_to 'Back', fs_path

#right_nav
  %h2 Editor
  #body
    .vertical-tabs
      %a{:href=> "#"} Info
      %a{:href=> "#"} Varieties
